@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;700&family=Open+Sans:wght@300;400;600&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-serif: 'Zilla Slab', ui-serif, Georgia, Cambria, 'Times New Romain', Times, serif;
	--font-sans: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
	--color-warm-red: #a90505;
	 --animate-wiggle: wiggle 1s ease-in-out infinite;  
	 @keyframes wiggle {    
		0%,    
		100% {      
			transform: rotate(-3deg);    
		}    
		50% {      
			transform: rotate(3deg);    
		}  
	}
}

html {
	scroll-behavior: smooth;
}
